{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/woman.png' %}" width="85%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/site_member/製作團隊1.jpg' %}" width="80%">
        </th>
        <th><br><br><br>姜沛妤</th>    
      </tr>
      <tr>
        <td>
          "職位："網頁設計<br>
          "科系："統計資訊學系<br>
          "專長："網頁設計、美術設計、行政管理、資料處理 <br>
          "經歷："輔大戲劇社 肆年夢劇團 執行製作<br>
          明緯企業有限公司 行銷實習adGeek <br>
          聯播網發展部 實習生<br>
          "Email:"zona19980723@gmail.com<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
