{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/site_member/製作團隊3.jpg' %}" width="80%">
        </th>
        <th><br><br><br>黃勝崧</th>    
      </tr>
      <tr>
        <td>
          職位：後端工程師、系統測試<br>
          科系：統計資訊學系<br>
          專長：語言資訊分析、系統測試、團隊領導 <br>
          Email:p7894479@gmail.com<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
