{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/site_member/製作團隊4.jpg' %}" width="80%">
        </th>
        <th><br><br><br>黃丰嘉</th>    
      </tr>
      <tr>
        <td>
          職位：前/後端工程師<br>
          科系：圖書資訊學系<br>
        統計資訊學系 (雙主修)<br>
          專長：Web開發、自然語言處理、機器學習<br>
          經歷：資訊科學研究會(Science of Information Research and Learning Association)   創社元老、活動總召與授課者https://github.com/SIRLA-FJULIS<br>
          Email:bessyhuang1@gmail.com<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
