{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="http://127.0.0.1:8000/chatbot/" class="float">
      <i class="fa fa-plus my-float"></i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/site_member/製作團隊5.jpg' %}" width="80%">
        </th>
        <th><br><br><br>蔡沅珈</th>    
      </tr>
      <tr>
        <td>
          職位：組長、系統測試<br>
          科系：統計資訊學系<br>
          專長：資料處理、R語言資料分析、系統測試、團隊領導與整合<br>
          經歷：大永興業股份有限公司 實習生<br>
           永慶房產集團 房產研展中心實習生<br>
          Email:chuckmariotsai@gmail.com<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
