{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/woman.png' %}" width="85%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/site_member/製作團隊6.jpg' %}" width="80%">
        </th>
        <th><br><br><br>陳宥菱</th>    
      </tr>
      <tr>
        <td>
          職位：資料預處理、文獻導讀、系統測試<br>
          科系：統計資訊學系<br>
          專長：資料處理、R語言資料分析、word2vec、生物統計<br>
          經歷：科技部計畫研究助理<br>
          Email:shirley97798@gmail.com<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
