{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="http://127.0.0.1:8000/chatbot/" class="float">
      <i class="fa fa-plus my-float"></i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/site_member/製作團隊7.jpg' %}" width="80%">
        </th>
        <th><br><br><br>蘇恆緯</th>    
      </tr>
      <tr>
        <td>
          "職位："網頁設計、前端工程師<br>
          "科系："統計資訊學系<br>
          "專長："程式設計、R語言資訊分析<br>
          "Email:"ak4775989@gmail.com<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
