{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/孝雲.jpg' %}" width="80%">
        </th>
        <th><br>黃孝雲</th>    
      </tr>
      <tr>
        <td>
          職位：副教授(系主任)<br>
          學歷：美國匹茲堡大學 統計博士<br>
          專長：影像辨識、機械學習與資料探勘、時間序列<br>
          電話：02-2905-2608、3940 (辦公室LM205-2、SL415)<br>
          E-Mail：stat2021@mail.fju.edu.tw<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
