{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/woman.png' %}" width="85%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/瑞珠.jpg' %}" width="80%">
        </th>
        <th><br>莊瑞珠</th>    
      </tr>
      <tr>
        <td>
          職位：教授<br>
          學歷：美國紐約州立大學石溪分校 統計博士<br>
          專長：統計計算、多變量分析<br>
          電話：02-2905-2758 (辦公室SL232)<br>
          E-Mail：stat1007@mail.fju.edu.tw<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
