{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/邵曰仁.jpg' %}" width="80%">
        </th>
        <th><br>邵曰仁</th>    
      </tr>
      <tr>
        <td>
          職位：教授 (學術特聘教授)<br>
          學歷：美國紐約州壬色列理工學院 決策科學與工程系統博士<br>
          專長：品質管制、預測方法<br>
          電話：02-2905-2647 (辦公室SL215)<br>
          E-Mail：stat1003@mail.fju.edu.tw<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
