{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/吳建和.jpg' %}" width="80%">
        </th>
        <th><br>吳建和</th>    
      </tr>
      <tr>
        <td>
          職位：副教授<br>
          學歷：英國曼徹斯特大學 資訊學博士<br>
          專長：物件導向技術、智慧型系統、資料庫管理<br>
          電話：02-2905-3937 (辦公室SL463)<br>
          E-Mail：stat2016@yahoo.co.jp<br>
          Website：http://140.136.247.242/~stat2016/<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
