{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/杜逸寧.jpg' %}" width="80%">
        </th>
        <th><br>杜逸寧</th>    
      </tr>
      <tr>
        <td>
          職位：副教授 (兼大數據跨領域微學分學程召集人)<br>
          學歷：國立政治大學資訊管理學系 資訊管理學博士<br>
          專長：資料探勘、文字探勘、人工智慧、機器學習、資訊檢索<br>
          電話：02-2905-2990 (辦公室SL465)<br>
          E-Mail：082435@mail.fju.edu.tw<br>
          Website：https://sites.google.com/view/yiningtu<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
