{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/李智.jpg' %}" width="80%">
        </th>
        <th><br>李智</th>    
      </tr>
      <tr>
        <td>
          職位：副教授<br>
          學歷：國立中山大學資訊管理所博士<br>
          專長：商業智慧分析、作業管理、策略管理、資訊管理<br>
          電話：02-2905-2763(辦公室SL251)<br>
          E-Mail：130273@mail.fju.edu.tw<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
