{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/蔡嘉仁.jpg' %}" width="80%">
        </th>
        <th><br>蔡嘉仁</th>    
      </tr>
      <tr>
        <td>
          職位：助理教授<br>
          學歷：國立台灣大學 生物統計博士<br>
          專長：測量誤差、潛在變項與結構方程模式分析、生物統計<br>
          電話：02-2905-3193 (辦公室SL468)<br>
          E-Mail：141628@mail.fju.edu.tw<br>
          Website：https://sites.google.com/view/jrtsai/<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
