{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/newicon-1.png' %}" width="90%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/jb.jpg' %}" width="80%">
        </th>
        <th><br>李鍾斌</th>    
      </tr>
      <tr>
        <td>
          職位：助理教授(兼 大數據產業智慧學分學程召集人)<br>
          學歷：國立交通大學資訊管理研究所 資訊管理學博士<br>
          專長：資訊管理、電子商務、資訊安全<br>
          電話：02-2905-2798 (辦公室SL233)<br>
          E-Mail：071635@mail.fju.edu.tw<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
