{% extends 'base/headerfooter.html' %} 
{% block title %}輔仁大學統計資訊學系{% endblock %} 
{% load staticfiles %} 
{% block link %}
{% endblock %} 

    {% block content %}
    <a href="/chatbot/" class="float">
      <i class="fa fa-plus my-float">
        <img src="{% static '_img/woman.png' %}" width="85%">
      </i>
    </a>
    <table width="80%" class="bio">
      <tr>
        <th width="40%" rowspan="3">
          <img src="{% static '_img/teacher/邵皓強.jpg' %}" width="80%">
        </th>
        <th><br>邵皓強</th>    
      </tr>
      <tr>
        <td>
          職位：助理教授<br>
          學歷：國立清華大學 電機工程系博士<br>
          專長：影像處理、小波分析、自動化光學檢測、深度學習<br>
          電話：02-2905-3974(辦公室SL217)<br>
          E-Mail：142702@mail.fju.edu.tw<br>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    {% endblock %} 
