{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    {% load staticfiles %}  
                                              
<!---------------------------------------------------------以上直接照打，不用改------------------------------------------------------>

<!-------------------------此整個中間的部份為    id="bodyWapper"         你們需要修改這裡！！！-------------------------------------->
                                    <!------    1.路徑連結(網頁.圖片)    2.整理(縮排)       ----->


<!-- flashAD   start-->
<div id="bodyWapper">
<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="73" align="left" valign="top"><img src="{% static "_img/00_layout/door_top.jpg" %}" alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td height="20" align="center" class="doorMenuOver"><a href="">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="/06_student">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td align="left" valign="top"><a href="/01_research"><img src="{% static "_img/00_layout/door_btm.jpg" %}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img/00_layout/flashad07.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="960" height="145"><!-- InstanceEndEditable --></div>



 

<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><img src="{% static "_img/07_research/title_research.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="170" height="45">
    <div class="leftmenu01">
      <ul>
             <li><a href="/research_01">統計諮詢顧問中心 </a></li>
                         <li><a href="/research_02">市場研究中心 </a></li>
                         <li><a href="/research_03"><span class="leftmenu02">巨量資料分析中心</span></a></li>
                         <li><a href="/research_04">歷年案例</a></li>
                  </ul>
    </div>
    <!-- quicklink start-->

            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="/07_student" target="_self"><img src="{% static "_img/menu01294041777.jpg" %}" width="170" alt="活動相簿"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">統計諮詢顧問中心 </div>
    <div id="steerage"><a href="/index">首頁</a><img src="{% static "_img/00_layout/arrow01.gif" %} " width="18" height="7"><a href="/01_research">研究中心</a><img src="{% static "_img/00_layout/arrow01.gif" %} " width="18" height="7"> 統計諮詢顧問中心 </div>
  </div>
  <!-- body layout start-->
  <div class="edit"><table class="index_btmline" cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td valign="top" align="left"><img alt="" width="123" height="28" src="{% static "_img/07_research/research_tit01.jpg" %}" ></td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <p>統計諮詢顧問中心(以下簡稱為本中心)緣自1992年成立於輔仁大學統計資訊學系，並為更能提昇統計諮詢研究之廣度及深度，已於2002年起正式提昇於輔仁大學管理學院下。本中心不僅服務管理學院各系所，更積極拓展與校內、外機關單位建教合作之管道，以達到協助教學、教師研究與社會服務齊頭並進。</p>
            <p>本中心的宗旨為藉由本中心提供統計上的專業諮詢，提供高品質及有效的統計資訊、精確推論分析及統計諮詢予諮詢單位。最終之目的期使能將專業應用於實務上，並由實務上發掘研究的課題，在理論與實務的結合下，藉由客觀之教學研究分析，一方面協助促進校內外學術研究單位統計分析品質之提昇，一方面協助當前工商企業界提供其所需要之統計資訊以解決問題。</p>
            </td>
        </tr>
    </tbody>
</table>
<table class="index_btmline" cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td valign="top" align="left"><img alt="" width="123" height="28" src="{% static "_img/07_research/research_tit02.jpg" %}" ></td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <p>本中心是一個以教育學生為重心的統計諮詢團體，自民國八十一年成立以來，無時無刻不朝著教學研究與社會服務相結合之目標前進。強調「產學合作」，使本校學生，充分將所學應用於實務上。除此之外，結合本校教師專業知識，提供高品質之統計諮詢服務。</p>
            </td>
        </tr>
    </tbody>
</table>
<table class="index_btmline" cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td valign="top" align="left"><img alt="" width="123" height="28" src="{% static "_img/07_research/research_tit03.jpg" %}" ></td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <p>本中心之主持人與各諮詢顧問教授群兼具多年之教學與研究經驗，其中更不乏具有豐富社會工作歷練者，故而本中心備有充分之資源與人力以達服務學術、企業界之目的。而其服務之項目大致包括：</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin: 15px 0px">
                <tbody>
                    <tr>
                        <td valign="top" align="left">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><strong><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" >民意調查</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">各政府或民意機關之政策民意及滿意度調查。服務內容包含：問卷設計、選舉研究、問卷調查(電訪、郵寄問卷、人員訪問)、抽樣方法設計、訪員訓練、資料建檔及檢誤，及調查分析報告。</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>市場調查</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">各產業之市場研究及消費者行為或滿意度調查。服務內容包括：問卷調查、問卷設計、抽樣方法設計、訪員訓練、資料建檔及檢誤，各類市場及行銷研究分析。</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>諮詢顧問</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">各政府或民意機關之政策民意及滿意度調查。服務內容包含：問卷設計、選舉研究、問卷調查(電訪、郵寄問卷、人員訪問)、抽樣方法設計、訪員訓練、資料建檔及檢誤，及調查分析報告。</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>教育訓練</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">此服務項目之範圍涵蓋工、商、企業、醫學等各個層面，藉由各教授之專才，俾能提供一正確的、有效的統計諮詢服務，並讓學生有機會接觸各個層面的應用。</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="index_btmline" cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td valign="top" align="left"><img alt="" width="123" height="28" src="{% static "_img/07_research/research_tit04.jpg" %}"></td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <p>輔仁大學統計諮詢顧問中心設有中心主持人(現由統計資訊學系梁德馨副教授兼任之)，下分為諮詢顧問群、市場調查組、總務組及諮詢研究組等四個部分，各部分之敘述如下：</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin: 15px 0px">
                <tbody>
                    <tr>
                        <td valign="top" align="left">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>諮詢顧問群：</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">各政府或民意機關之政策民意及滿意度調查。服務內容包含：問卷設計、選舉研究、問卷調查(電訪、郵寄問卷、人員訪問)、抽樣方法設計、訪員訓練、資料建檔及檢誤，及調查分析報告。</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>市場調查組：</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">市場調查組是一個學生性質的團體，由統計資訊學系學生採自願方式加入。市場調查組下設有組長及總幹事，由市場調查組大三學生中遴選之，負責學生部分管理及監督的工作。此外，總幹事之下另設有情報股專司統計相關資訊的收集、公關股負責與外界溝通接洽、活動股專司組內活動的辦理、資訊股負責組內一切課程的安排，以及文書股負責組內文書工作。</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>總務組：</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">專司中心之財務分配及管理。</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>諮詢研究組：</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">諮詢研究組包括統計資訊系或管理學院之高年級學生及研究生，在本中心之諮詢顧問群的帶領下，以協助各類諮詢及調查服務之進行。</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="index_btmline" cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td valign="top" align="left"><img alt="" width="123" height="28" src="{% static "_img/07_research/research_tit05.jpg" %}"></td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <p>依本中心所提供之服務項目可大致分為以下兩項：</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin: 15px 0px">
                <tbody>
                    <tr>
                        <td valign="top" align="left">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>諮詢服務</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">
                                    <ul>
                                        <li>初步接洽、尋找相關領域之顧問、協助提供諮詢服務、(包括估價、問卷設計規劃、KEYIN、分析及推估…等諮詢服務)</li>
                                        <li>詳細討論、估價及確定欲諮詢之項目(提企劃書、簽約…等正式書面文件) 服務&nbsp;</li>
                                    </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>調查服務</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">
                                    <ul>
                                        <li>初步接洽、尋找相關領域之顧問提供協助、</li>
                                        <li>詳細討論、估價及確定所提供服務(提企劃書、簽約…等正式書面文件)&nbsp;<br>
                                        &nbsp;</li>
                                        <li>初步討論(提出調查之規劃及方法…等建議)、調查正式執行(面訪、電訪或郵寄)</li>
                                        <li>KEYIN及資料檢誤 (包括估價、問卷設計規劃、KEYIN、分析及推估…等諮詢服務)</li>
                                        <li>調查正式執行(面訪、電訪或郵寄) 資料分析與報告撰寫</li>
                                        <li>調查之詳細設計與規劃(包括問卷之擬定、調查方法之規劃)、</li>
                                        <li>料之初步檢誤(包括估價、問卷設計規劃、KEYIN、分析及推估…等諮詢服務)</li>
                                    </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="index_btmline" cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td valign="top" align="left"><img alt="" width="157" height="28" src="{% static "_img/07_research/research_tit06.jpg" %}"></td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <p>依本中心所提供之服務項目大致可分為：</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin: 15px 0px">
                <tbody>
                    <tr>
                        <td valign="top" align="left">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>諮詢服務</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">本中心委託單位包含校內、外之各機關企業，協助諮詢服務之事宜有：研究設計、推估方法、調查規劃及抽樣設計等諮詢顧問。<br>
                                    &nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>資料分析方面</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">
                                    <p>協助資料的整理及輸入KEYIN及統計分析等。近幾年之協助的個案已累計數十件。</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>調查方面（包含校內、外各類委託調查案）</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">
                                    <p>委託執行調查之單位包含校內單位、政府機關及企業；協助執行調查之方式包括人員面訪、電話訪問、郵寄訪問及傳真問卷等等。<br>
                                    本中心近年來皆獨立執行大型調查，經驗與能力俱佳，其樣本數高達17,000份。對於固定樣本的訪查，本中心亦具經驗。</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" ><strong>協助教學、教育訓練及其他服務方面</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">
                                    <p>本中心提供校內、外之機關單位，協助其教學需要、教育訓練及其他服務，包括提供校內或校外之學校機關協助提供上課或參觀及研討會之舉辦、協助企業之教育訓練等等。</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="index_btmline" cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td valign="top" align="left"><img alt="" width="123" height="28" src="{% static "_img/07_research/research_tit07.jpg" %}" ></td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <p>如您對本中心有任何疑問或需要協助，歡迎隨時與我們聯絡！</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
            <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin: 15px 0px">
                <tbody>
                    <tr>
                        <td valign="top" align="left">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom: 15px">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" >地址：24205 新北市新莊區中正路510號 輔仁大學管理學院統計諮詢顧問中心</td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left"><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" >電話：(02) 2905-2000 EXT 2606&nbsp; 2998&nbsp;&nbsp; 傳真：(02) 2905-2191</td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">
                                    <p><img alt="" width="15" height="18" src="{% static "_img/02_about/about_edit_504.jpg" %}" >聯絡人：104學年度(盧宏益 輔仁大學統計資訊學系副教授 暨 諮詢顧問中心主持人(<a href="mailto:stat1013@mails.fju.edu.tw">069201@mail.fju.edu.tw</a>)<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 周依倩 輔仁大學統計資訊學系秘書(<a href="mailto:stat1010@mails.fju.edu.tw">stat1010@mail.fju.edu.tw</a>)</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p></div>
</div>
<!-- InstanceEndEditable --></div>
</div>

<!---------------------------------------------------------以下直接照打，不用改------------------------------------------------------>

{% endblock %}

</body><!-- InstanceEnd -->
</html>