{% extends 'base/base_sitemember.html' %}
{% load staticfiles %}

{% block title %}輔仁大學統計資訊學系{% endblock %}

{% block oneblock_fluid %}
<div class="card-deck">
  <div class="card">
    <img src="{% static "_img/site_member/testing.png" %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Huang, Feng-Chia</h5>
      <p class="card-text">E-mail: </p>
      <p class="card-text">Skills: </p>
      <p class="card-text">Special experience: </p>
      <p class="card-text">Future Research Direction: </p>
    </div>
    <div class="card-footer">
      <p class="card-text">Position Titles: </p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">E-mail: </p>
      <p class="card-text">Skills: </p>
      <p class="card-text">Special experience: </p>
      <p class="card-text">Future Research Direction: </p>
    </div>
    <div class="card-footer">
      <p class="card-text">Position Titles: </p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">E-mail: </p>
      <p class="card-text">Skills: </p>
      <p class="card-text">Special experience: </p>
      <p class="card-text">Future Research Direction: </p>
    </div>
    <div class="card-footer">
      <p class="card-text">Position Titles: </p>
    </div>
  </div>
</div>
<!-- -->
<br/>
<div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">E-mail: </p>
      <p class="card-text">Skills: </p>
      <p class="card-text">Special experience: </p>
      <p class="card-text">Future Research Direction: </p>
    </div>
    <div class="card-footer">
      <p class="card-text">Position Titles: </p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">E-mail: </p>
      <p class="card-text">Skills: </p>
      <p class="card-text">Special experience: </p>
      <p class="card-text">Future Research Direction: </p>
    </div>
    <div class="card-footer">
      <p class="card-text">Position Titles: </p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">E-mail: </p>
      <p class="card-text">Skills: </p>
      <p class="card-text">Special experience: </p>
      <p class="card-text">Future Research Direction: </p>
    </div>
    <div class="card-footer">
      <p class="card-text">Position Titles: </p>
    </div>
  </div>
</div>
<!-- -->
{% endblock %}
