{% extends 'base/base_grid.html' %}
{% load staticfiles %}  

{% block grid_01 %}
<ul>
	<li>姓名：黃孝雲</li>
	<li>職稱：副教授(系主任)</li>
	<li>學歷：美國匹茲堡大學 統計博士</li>
	<li>專長：影像辨識、機械學習與資料探勘、時間序列</li>
	<li>電話：02-2905-3940 (辦公室SL415)</li>
	<li>E-Mail：<a href="mailto:stat2021@mail.fju.edu.tw">stat2021@mail.fju.edu.tw</a></li>
	<li>Website：<a href="http://www.stat.fju.edu.tw/_chinese/03_teacher/01_list.php?MID=1" target="_blank"></a></li>
</ul>
{% endblock %}
 
{% block grid_02 %}
<ul>
	<li>姓名：黃孝雲</li>
	<li>職稱：副教授(系主任)</li>
	<li>學歷：美國匹茲堡大學 統計博士</li>
	<li>專長：影像辨識、機械學習與資料探勘、時間序列</li>
	<li>電話：02-2905-3940 (辦公室SL415)</li>
	<li>E-Mail：<a href="mailto:stat2021@mail.fju.edu.tw">stat2021@mail.fju.edu.tw</a></li>
	<li>Website：<a href="http://www.stat.fju.edu.tw/_chinese/03_teacher/01_list.php?MID=1" target="_blank"></a></li>
</ul>
{% endblock %}

{% block grid_03 %}
<ul>
	<li>姓名：黃孝雲</li>
	<li>職稱：副教授(系主任)</li>
	<li>學歷：美國匹茲堡大學 統計博士</li>
	<li>專長：影像辨識、機械學習與資料探勘、時間序列</li>
	<li>電話：02-2905-3940 (辦公室SL415)</li>
	<li>E-Mail：<a href="mailto:stat2021@mail.fju.edu.tw">stat2021@mail.fju.edu.tw</a></li>
	<li>Website：<a href="http://www.stat.fju.edu.tw/_chinese/03_teacher/01_list.php?MID=1" target="_blank"></a></li>
</ul>
{% endblock %}

{% block grid_04 %}
<ul>
	<li>姓名：黃孝雲</li>
	<li>職稱：副教授(系主任)</li>
	<li>學歷：美國匹茲堡大學 統計博士</li>
	<li>專長：影像辨識、機械學習與資料探勘、時間序列</li>
	<li>電話：02-2905-3940 (辦公室SL415)</li>
	<li>E-Mail：<a href="mailto:stat2021@mail.fju.edu.tw">stat2021@mail.fju.edu.tw</a></li>
	<li>Website：<a href="http://www.stat.fju.edu.tw/_chinese/03_teacher/01_list.php?MID=1" target="_blank"></a></li>
</ul>
{% endblock %}
 
{% block grid_05 %}
<ul>
	<li>姓名：黃孝雲</li>
	<li>職稱：副教授(系主任)</li>
	<li>學歷：美國匹茲堡大學 統計博士</li>
	<li>專長：影像辨識、機械學習與資料探勘、時間序列</li>
	<li>電話：02-2905-3940 (辦公室SL415)</li>
	<li>E-Mail：<a href="mailto:stat2021@mail.fju.edu.tw">stat2021@mail.fju.edu.tw</a></li>
	<li>Website：<a href="http://www.stat.fju.edu.tw/_chinese/03_teacher/01_list.php?MID=1" target="_blank"></a></li>
</ul>
{% endblock %}

{% block grid_06 %}
<ul>
	<li>姓名：黃孝雲</li>
	<li>職稱：副教授(系主任)</li>
	<li>學歷：美國匹茲堡大學 統計博士</li>
	<li>專長：影像辨識、機械學習與資料探勘、時間序列</li>
	<li>電話：02-2905-3940 (辦公室SL415)</li>
	<li>E-Mail：<a href="mailto:stat2021@mail.fju.edu.tw">stat2021@mail.fju.edu.tw</a></li>
	<li>Website：<a href="http://www.stat.fju.edu.tw/_chinese/03_teacher/01_list.php?MID=1" target="_blank"></a></li>
</ul>
{% endblock %}