{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    {% load staticfiles %}  
                                              
<!---------------------------------------------------------以上直接照打，不用改------------------------------------------------------>

<div id="bodyWapper">
<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td valign="top" height="73" align="left"><img src="{% static "_img/00_layout/door_top.jpg" %}" alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" valign="top" align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/02_future.php">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/01_current.php">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/03_alumni.php">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td valign="top" align="left"><a href="#TOP"><img src="{% static "_img/00_layout/door_btm.jpg" %}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img/00_layout/flashad02.jpg" %}" alt="輔仁大學統計資訊學系-本系簡介" width="960" height="145"><!-- InstanceEndEditable --></div>



 

<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><span class=""><img src="{% static "_img/02_about/title_about.jpg" %}" alt="輔仁大學統計資訊學系-本系簡介" width="170" height="45"></span>
    <div class="leftmenu01">
      <ul>
			 <li><a href="/about_01">沿革</a></li>
						 <li><a href="/about_02">教學理念</a></li>
						 <li><a href="/about_03">設備</a></li>
						 <li><a href="/about_04">特色</a></li>
						 <li><a href="/about_05"><span class="leftmenu02">未來發展</span></a></li>
						 <li><a href="/about_06">章程辦法</a></li>
						 <li><a href="/about_07">交通資訊</a></li>
						 <li><a href="/about_08">教師學術研究</a></li>
			      </ul>
    </div>
    <!-- quicklink start-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="http://www.stat.fju.edu.tw/_chinese/06_student/05_album.php" target="_self"><img src="{% static "_img/menu01294041777.jpg"%}" alt="活動相簿" width="170"></a></div>
			            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="http://www.stat.fju.edu.tw/_chinese/05_join/01_overview.php" target="_self"><img src="{% static "_img/menu01294047528.jpg" %}" alt="招生資訊" width="170"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">未來發展</div>
    <div id="steerage"><a href="http://www.stat.fju.edu.tw/index.php">首頁</a><img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7">本系簡介<img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7"> 未來發展</div>
  </div>
  <!-- body layout start-->
  <div class="edit"><table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td valign="top" align="left">
                        <p><img alt="" src="{% static "_img/02_about/about_edit_501.jpg" %}" width="355" height="35"><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
本系課程加強統計與資訊相關課程之結合。以奠定學生良好統計理論與統計資訊技術為基礎。因應學界及業界之需求，本系課程朝多元化方向規劃，並積極提昇學生
學以致用之應用實作能力，以期學生能將統計資訊技術應用於各專業領域。 <br>
                        <br>
                        &nbsp;</p>
                        </td>
                        <td width="240"><img alt="" src="{% static "_img/02_about/about_edit_502.jpg" %}" width="220" height="150"></td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="edit_btmline" valign="top" align="left">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
在碩士班，除上述培育理念外，尤重學生管理能力之提升。決策管理人才是各行各業中掌握企業生存命脈的重要角色，在碩士班及碩士在職專班的訓練，亦著重統計
與決策管理整合能力之強化，使其具基本之管理決策分析技能。在共同基礎培訓外，研究生可依自己興趣選讀不同課程，培養其作為第二專長領域，並透過同學間之
互動討論，拓展視野並培養出多種專長領域。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
本系大學部及碩士班畢業生分佈於製造業、服務業、金融業、科技業、政府機構……等各行各業，從事各類統計分析、行銷市場研究、金融風險預測、品質管理、公
共衛生管理、保險精算、科技業、政府機構……等各類工作。本系碩士班在職專班學生報考資格未設領域限制，學生背景極為多元化，學生間亦可透過彼此討論拓展
個人專業視野。在就讀期間及畢業後，在各個專業領域中，學生皆能擁有更好升遷及發展。</p>
            </td>
        </tr>
    </tbody>
</table></div>
</div>
<!-- InstanceEndEditable --></div>
</div>

<!---------------------------------------------------------以下直接照打，不用改------------------------------------------------------>

{% endblock %}

</body><!-- InstanceEnd -->
</html>
