{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    {% load staticfiles %}  
                                              
<!---------------------------------------------------------以上直接照打，不用改------------------------------------------------------>


<div id="bodyWapper">
<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td valign="top" height="73" align="left"><img src="{% static "_img/00_layout/door_top.jpg" %} "alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" valign="top" align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/02_future.php">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}"alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/01_current.php">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/03_alumni.php">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td valign="top" align="left"><a href="#TOP"><img src="{% static "_img/00_layout/door_btm.jpg" %}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img/00_layout/flashad02.jpg" %}" alt="輔仁大學統計資訊學系-本系簡介" width="960" height="145"><!-- InstanceEndEditable --></div>



 

<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><span class=""><img src="{% static "_img/02_about/title_about.jpg" %}" alt="輔仁大學統計資訊學系-本系簡介" width="170" height="45"></span>
    <div class="leftmenu01">
      <ul>
			 <li><a href="/about_07">沿革</a></li>
						 <li><a href="/about_02">教學理念</a></li>
						 <li><a href="/about_03">設備</a></li>
						 <li><a href="/about_04">特色</a></li>
						 <li><a href="/about_05">未來發展</a></li>
						 <li><a href="/about_06">章程辦法</a></li>
						 <li><a href="/about_07"><span class="leftmenu02">交通資訊</span></a></li>
						 <li><a href="/about_08">教師學術研究</a></li>
			      </ul>
    </div>
    <!-- quicklink start-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="/student_07" target="_self"><img src="{% static "_img/menu01294041777.jpg" %}" alt="活動相簿" width="170"></a></div>
			            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="http://www.stat.fju.edu.tw/_chinese/05_join/01_overview.php" target="_self"><img src="{% static "_img/menu01294047528.jpg" %}" alt="招生資訊" width="170"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">交通資訊</div>
    <div id="steerage"><a href="http://www.stat.fju.edu.tw/index.php">首頁</a><img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7">本系簡介<img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7"> 交通資訊</div>
  </div>
  <!-- body layout start-->
  <div class="edit"><table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="edit_about7_mapBg" valign="top" height="274" align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="435" valign="top" height="268" align="left"><iframe marginheight="0" src="http://maps.google.com.tw/maps?f=q&amp;source=s_q&amp;hl=zh-tw&amp;geocode=&amp;q=%E5%8F%B0%E5%8C%97%E7%B8%A3%E6%96%B0%E8%8E%8A%E5%B8%82%E4%B8%AD%E6%AD%A3%E8%B7%AF510%E8%99%9F&amp;sll=23.63446,120.970459&amp;sspn=6.036629,11.612549&amp;brcurrent=3,0x3442a7e9490525d3:0x548c924f9a9ae63f,0,0x345d5538b0b6645f:0x5aa90dfa6620edc0&amp;ie=UTF8&amp;hq=&amp;hnear=242%E5%8F%B0%E5%8C%97%E7%B8%A3%E6%96%B0%E8%8E%8A%E5%B8%82%E4%B8%AD%E6%AD%A3%E8%B7%AF510%E8%99%9F&amp;z=14&amp;ll=25.035196,121.432019&amp;output=embed" marginwidth="0" scrolling="no" width="435" height="274" frameborder="0"></iframe><br>
                        <small><a style="text-align: left; color: #0000ff" href="http://maps.google.com.tw/maps?f=q&amp;source=embed&amp;hl=zh-tw&amp;geocode=&amp;q=%E5%8F%B0%E5%8C%97%E7%B8%A3%E6%96%B0%E8%8E%8A%E5%B8%82%E4%B8%AD%E6%AD%A3%E8%B7%AF510%E8%99%9F&amp;sll=23.63446,120.970459&amp;sspn=6.036629,11.612549&amp;brcurrent=3,0x3442a7e9490525d3:0x548c924f9a9ae63f,0,0x345d5538b0b6645f:0x5aa90dfa6620edc0&amp;ie=UTF8&amp;hq=&amp;hnear=242%E5%8F%B0%E5%8C%97%E7%B8%A3%E6%96%B0%E8%8E%8A%E5%B8%82%E4%B8%AD%E6%AD%A3%E8%B7%AF510%E8%99%9F&amp;z=14&amp;ll=25.035196,121.432019">檢視較大的地圖</a></small></td>
                        <td class="edit_about7_mapfont_white" valign="bottom" align="left"><strong>輔仁大學統計資訊學系</strong><br>
                        地址：242 新北市新莊區中正路510號<br>
                        電話：+886-2-2905-2606 　<br>
                        傳真：+886-2-2905-2191<br>
                        信箱：<a href="mailto:stat@mail.fju.edu.tw">stat@mail.fju.edu.tw</a></td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table style="margin-bottom: 10px" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="35" valign="top" align="left"><img alt="" src="{% static "_img/02_about/about_edit_702.jpg" %}" width="35" height="25"></td>
                        <td class="edit_about7_mapfont_tit" valign="top" align="left">台北→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>513線：</strong> <span class="edit_mapfont_point">(台北車站、台大醫院站、西門站)</span><br>
                        台大醫院捷運站→衡陽路→西門市場→西門國小→經中興橋→重新路→中正路→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>235線：</strong><br>
                        國父紀念館→仁愛路→安和路→和平東路→南昌路→衡陽路→成都路→中興橋→新莊→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>299線：</strong><br>
                        松山→忠孝東、西路→忠孝橋→二省道→化成路→幸福路→新泰路→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>635線：</strong> <span class="edit_mapfont_point">(西門站)</span><br>
                        博愛路→開封街→西寧南路→西門國小→經中興橋→重新路→中正路→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>636線：</strong> <span class="edit_mapfont_point">(民權西路站)</span><br>
                        中山北路→圓環→台北橋→三重→新莊→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>637線：</strong> <span class="edit_mapfont_point">(西門站)</span><br>
                        博愛路→開封街→西寧南路→西門國小→經中興橋→重新路→中正路→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>638線：</strong><span class="edit_mapfont_point">(民權西路站)</span><br>
                        中山北路→圓環→台北橋→三重→新莊→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>801線：</strong><span class="edit_mapfont_point">(民權西路站)</span><br>
                        松山機場經行天宮→民權西、東路→三重→新莊→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>捷運接駁公車藍二線:</strong><span class="edit_mapfont_point">(西門站)</span><br>
                        西門市場→衡陽路→寶慶路→中華路→(捷運西門站)→祖師廟口→西門國小→中興街口→新莊國中→新泰路→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-bottom: 10px" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="35" valign="top" align="left"><img alt="" src="{% static "_img/02_about/about_edit_702.jpg" %}" width="35" height="25"></td>
                        <td class="edit_about7_mapfont_tit" valign="top" align="left">板橋→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>板橋迴龍線：</strong><br>
                        板橋民權路→中正路→新海橋→新莊中正路→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>99路線：</strong><span class="edit_mapfont_point">(新埔站)</span><br>
                        板橋火車站→文化路→民生路→大漢橋→思源路→幸福路→新泰路→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>802路線：</strong><span class="edit_mapfont_point">(新埔站)</span><br>
                        新埔捷運站→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-bottom: 10px" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="35" valign="top" align="left"><img alt="" src="{% static "_img/02_about/about_edit_702.jpg" %}" width="35" height="25"></td>
                        <td class="edit_about7_mapfont_tit" valign="top" align="left">淡水→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>10路程(指南客運)：</strong><br>
                        淡水→竹圍→關渡大橋→五股→泰山→丹鳳→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-bottom: 10px" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="35" valign="top" align="left"><img alt="" src="{% static "_img/02_about/about_edit_702.jpg" %}" width="35" height="25"></td>
                        <td class="edit_about7_mapfont_tit" valign="top" align="left">桃園→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>桃園新莊線(桃園客運)：</strong><br>
                        桃園→龜山→嶺頂→尖山腳→迴龍→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-bottom: 10px" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="35" valign="top" align="left"><img alt="" src="{% static "_img/02_about/about_edit_702.jpg" %}" width="35" height="25"></td>
                        <td class="edit_about7_mapfont_tit" valign="top" align="left">三峽→輔大</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left"><strong>802(區間車)：</strong><br>
                        三峽→柑園→山佳→樹林→民安社區→輔大</td>
                        <td class="edit_mapfont_wrap" width="50%" valign="top" align="left">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p></div>
</div>
<!-- InstanceEndEditable --></div>
</div>

<!---------------------------------------------------------以下直接照打，不用改------------------------------------------------------>

{% endblock %}

</body><!-- InstanceEnd -->
</html>
