{% extends 'base.html' %}
<!DOCHTML html>
<html>
<body>
    {% block content %}
    {% load staticfiles %}


<div id="bodyWapper">
<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px; top: 212px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="73" align="left" valign="top"><img src="{% static "_img/00_layout/door_top.jpg" %}" alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td height="20" align="center" class="doorMenuOver"><a href="/research_02">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="/research_02">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="/research_02">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td align="left" valign="top"><a href="/research_02"><img src="{% static "_img/00_layout/door_btm.jpg" %}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img/00_layout/flashad07.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="960" height="145"><!-- InstanceEndEditable --></div>

 

<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><img src="{% static "_img/07_research/title_research.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="170" height="45">
    <div class="leftmenu01">
      <ul>
       <li><a href="/research_01">統計諮詢顧問中心 </a></li>
             <li><a href="/research_02">市場研究中心 </a></li>
             <li><a href="/research_03"><span class="leftmenu02">巨量資料分析中心</span></a></li>
             <li><a href="/research_04">歷年案例</a></li>
            </ul>
    </div>
    <!-- quicklink start-->

            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="/research_02" target="_self"><img src="{% static "_img/menu01294041777.jpg" %}" width="170" alt="活動相簿"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">市場研究中心 </div>
    <div id="steerage"><a href="/research_02">首頁</a><img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7"><a href="/research_02">研究中心</a><img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7"> 市場研究中心 </div>
  </div>
  <!-- body layout start-->
  <div class="edit"><p>&nbsp;</p>
<p>一、緣由及宗旨<br>
市場研究中心(以下簡稱為本中心)於1995年與本系碩士班之前身應用統計研究所同時設立。其設立之宗旨是希望在原有之統計諮詢顧問的基礎下，深化碩士班學生之『做中學』教學目標，針對市場研究之領域做更進階地研析，並配合管理學院『管理技術中心』，協助企業機構提昇經理人之管理能力。</p>
<p>二、目標<br>
本中心成立之主要目標是培養碩士生將理論與實務密切結合，增進碩士生在統計應用方面的技能及團隊學習的態度。此外，提供諮詢單位有效及可行之策略及改善企業經營體質，亦為本中心成立之重要目標。</p>
<p>三、組織及人員<br>
主任：統計資訊學系系主任兼任<br>
指導教授：應用統計碩士班全體教授兼任<br>
執行秘書：應用統計碩士班秘書兼任<br>
研究人員：應用統計碩士班全體研究生</p>
<p>四、執行內容</p>
<p>配合教學課程，實際操作與應用</p>
<p>研究方法設計與統計套裝軟體應用之諮詢</p>
<p>承接政府與民營企業委託專案計畫</p></div>
</div>
<!-- InstanceEndEditable --></div>
</div>

{% endblock %}

</body><!-- InstanceEnd -->
</html>