{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    {% load staticfiles %}
<div id="bodyWapper">
<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="73" align="left" valign="top"><img src="{% static "_img/00_layout/door_top.jpg" %}" alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td height="20" align="center" class="doorMenuOver"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/02_future.php">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/01_current.php">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/03_alumni.php">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td align="left" valign="top"><a href="http://www.stat.fju.edu.tw/_chinese/07_research/01_research.php?RID=5#TOP"><img src="{% static "_img/00_layout/door_btm.jpg" %}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img/00_layout/flashad07.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="960" height="145"><!-- InstanceEndEditable --></div>



 

<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><img src="{% static "_img/07_research/title_research.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="170" height="45">
    <div class="leftmenu01">
      <ul>
			 <li><a href="/research_01">統計諮詢顧問中心 </a></li>
						 <li><a href="/research_02">市場研究中心 </a></li>
						 <li><a href="/research_03"><span class="leftmenu02">巨量資料分析中心</span></a></li>
						 <li><a href="/research_04">歷年案例</a></li>
			      </ul>
    </div>
    <!-- quicklink start-->

            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="http://www.stat.fju.edu.tw/_chinese/06_student/05_album.php" target="_self"><img src="{% static "_img/menu01294041777.jpg" %}" width="170" alt="活動相簿"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">巨量資料分析中心</div>
    <div id="steerage"><a href="http://www.stat.fju.edu.tw/index.php">首頁</a><img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7"><a href="http://www.stat.fju.edu.tw/_chinese/07_research/01_research.php">研究中心</a><img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7"> 巨量資料分析中心</div>
  </div>
  <!-- body layout start-->
  <div class="edit"><p><span style="color: #000080"><span style="font-size: medium">&nbsp;</span></span></p>
<div style="margin: 0cm 0cm 0pt 42.5pt; line-height: 24pt; text-autospace: ; text-indent: -42.5pt"><span style="color: #000080"><span style="font-size: medium"><b>第一條&nbsp;</b>為促進巨量資料分析研究，推展巨量資料分析的專業訓練，增強跨領域整合人才培訓，並拓展及國際學術交流，特設立「輔仁大學統計資訊學系巨量資料分析中心」（以下簡稱本中心）。</span></span></div>
<div style="margin: 0cm 0cm 0pt 42.5pt; line-height: 24pt; text-autospace: ; text-indent: -42.5pt"><span style="color: #000080"><span style="font-size: medium"><b>第二條&nbsp;</b>本中心之任務為：</span></span></div>
<div style="line-height: 22pt; text-autospace: ; text-indent: 49.55pt"><span style="color: #000080"><span style="font-size: medium">一、促進巨量資料分析研究</span></span></div>
<div style="line-height: 22pt; text-autospace: ; text-indent: 49.55pt"><span style="color: #000080"><span style="font-size: medium">二、拓展國際學術交流</span></span></div>
<div style="line-height: 22pt; text-autospace: ; text-indent: 49.55pt"><span style="color: #000080"><span style="font-size: medium">三、推展巨量資料分析專業訓練</span></span></div>
<div style="line-height: 22pt; text-autospace: ; text-indent: 49.55pt"><span style="color: #000080"><span style="font-size: medium">四、增強跨領域整合人才培訓</span></span></div>
<div style="line-height: 22pt; text-autospace: ; text-indent: 49.55pt"><span style="color: #000080"><span style="font-size: medium">五、推動其他與巨量資料分析研究有關之事務</span></span></div>
<div style="margin: 0cm 0cm 0pt 42.5pt; line-height: 24pt; text-autospace: ; text-indent: -42.5pt"><span style="color: #000080"><span style="font-size: medium"><b>第三條&nbsp;</b>本中心置主任一人，綜理中心業務；得置副主任及執行長各一人，協助主任處理中心事務；中心主任由本系專任教師互相推選，任期三年，連選得連任。</span></span></div>
<div style="margin: 0cm 0cm 0pt 42.5pt; line-height: 24pt; text-autospace: ; text-indent: -42.5pt"><span style="color: #000080"><span style="font-size: medium"><b>第四條&nbsp;</b>本中心置研究人員若干名，由本系專任教師兼任之，必要時得聘任客座、特約或專職研究人員。</span></span></div>
<div style="margin: 0cm 0cm 0pt 42.5pt; line-height: 24pt; text-autospace: ; text-indent: -42.5pt"><span style="color: #000080"><span style="font-size: medium"><b>第五條&nbsp;</b>本中心得設諮詢委員若干名，其人選由中心主任擬定推薦名單，經規劃委員會同意後聘任之，聘期為一至三年。</span></span></div>
<div style="margin: 0cm 0cm 0pt 42.5pt; line-height: 24pt; text-autospace: ; text-indent: -42.5pt"><span style="color: #000080"><span style="font-size: medium"><b>第六條&nbsp;</b>本辦法經系務會議通過後實施，修正時亦同。</span></span></div>
<p>&nbsp;</p></div>
</div>
<!-- InstanceEndEditable --></div>
</div>
{% endblock %}

</body><!-- InstanceEnd -->
</html>

<!-- InstanceEnd --></body></html>