body {
  font-family: 'NotoSansTC', sans-serif;
  background-color: #F6F4F0;
  color:#0A2562;
  text-align:left;
  margin-bottom: 30vmin;
}

h1{
  font-size: 4vmin;
}

header{
  margin-top: 2vmin;
}

table {
  margin-top: 4vmin;
  margin-left: 20vmin;
  width: 80%;
}

tr{
	font-family: 'NotoSansTC-Medium', sans-serif;
  	font-size: 3vmin;
}

td{
  vertical-align: text-top;
  font-family: 'NotoSansTC-Medium', sans-serif;
  font-size: 2vmin;
  line-height: 4vmin;　
}

header a {
  font-family: 'NotoSansTC-Bold', sans-serif;
  color:#0A2562;
  display: vertical-align: middle;
  font-size: 3vmin;
  text-decoration:none;
}
header a:hover {
  color: #174EAF;
}  
footer{
  position: fixed;
  margin-bottom: -10px;
  bottom: 0px;
  left: 0;
  text-align: right;
}
.float{
  position:fixed;
  width:10vmin;
  height:10vmin;
  right:5vmin;
  background-color:#0A2562;
  color:#FFF;
  border-radius:20vmin;
  text-align:center;
  box-shadow: 0.8vmin 0.8vmin 1.2vmin #999;
}

.my-float{
  margin-top:22px;
}

.bio{
  margin-top: 12vmin;
}
