{% load staticfiles %}
        <table>
            <tbody>
                <tr><td valign="top" align="left">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        本系配合國家教育政策及社會需要，於1969年7月成立會計統計學系，分「會計」、「統計」兩組。爾後因應市場對分析人才的需求，為強化統計專業訓練，於
        1973年獨立為統計學系。本系初成立時為單班制，招收社會組學生，1990年增為雙班，每年招收120名學生。為符合本系的發展方向，於2001年8月
        起調整系名為統計資訊學系（Department of Statistics and Information 
        Science），畢業授予管理學學士（Bachelor of Business 
        Administration，簡稱B.B.A.）。本系隸屬之管理學院，本院於2005年4月15日通過AACSB國際商管學院促進協會認證，成為台灣
        第一所通過AACSB認證之大學。<br>
                    &nbsp;</p>
                    </td>
                </tr>
                <tr>
                <td valign="top" align="left">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td style="padding-top: 20px" valign="top" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
    為培育兼具理論及實務整合應用之進階專業人才，本系於1995年8月創辦「應用統計研究所」，為國內第一所以應用統計專業人才培育為宗旨之獨立研究所。爾
    後，因各界對統計分析之需求日增，於2000年成立「應用統計研究所碩士在職專班」，提供在職人士良好的進修環境及學習規劃，增強其在工作上統計分析的專
    業能力。</td>
                            <td width="480" valign="top" align="right"><img alt="輔大統計資訊學系-台灣第一所通過AACSB之認證大學" src="{% static "_img/02_about/about_edit_101.jpg" %}" width="480" height="340"></td>
                        </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            <tr>
                <td valign="top" align="left">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    為使教學及人才培育規劃更具整體性，於2010年8月1日起，統計資訊學系與應用統計研究所正式系所合一。屆此開始，「統計資訊學系」除學士班外，另設
    「應用統計碩士班」及「應用統計碩士在職專班」（Master 's Program&nbsp;in 
    Applied&nbsp;Statistics），碩士班畢業後授與商學碩士（Master of Science in Applied 
    Statistics, M.S.）。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 本系之沿革另附簡表如下：</p>
                </td>
            </tr>
            <tr>
                <td valign="top" align="left"><img alt="learning while working" src="{% static "_img/02_about/about_edit_102.jpg" %}" width="680" height="60"></td>
            </tr>
        </tbody>
        </table>
        <table style="margin-top: 15px" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td width="260" valign="top" align="left"><img alt="輔大統計資訊學系-培育優秀專業的統計人才" src="{% static "_img/02_about/about_edit_103.jpg" %}" width="260" height="460"></td>
                    <td valign="top" align="left"><img alt="" src="{% static "_img/02_about/about_edit_104.jpg" %}" width="100" height="35"><br>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/2010.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">「統計資訊學系」與「應用統計研究所」系所合一</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/2005.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">本院通過AACSB國際商管學院促進協會認證</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/2001.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">調整系名為「統計資訊學系」</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/2000.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">成立「應用統計研究所碩士在職專班」</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1995.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">協助創設成立「應用統計研究所」，為一獨立所</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left">&nbsp;</td>
                                <td class="edit_about1_year" valign="top" align="left">恢復招收第一類組的學生迄今</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1991.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">首度招收第二及三類組的學生</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1990.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">增為「雙班制」</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1973.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">獨立為「統計學系」，招收社會組學生，單班制</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1969.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">成立「會計統計學系」</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1960.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">教育部核准輔仁大學在台復校</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1952.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">因院系調整併入北京師範大學</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1929.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">輔仁大學於教育部正式立案</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1927.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">北洋政府准予試辦，並正式將校名改為輔仁大學</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-bottom: 4px" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="50" valign="top" align="left"><img alt="" src="{% static "_img/02_about/1925.jpg" %}" width="50" height="17"></td>
                                <td class="edit_about1_year" valign="top" align="left">由美國本篤會於北京創辦輔仁大學之前身「輔仁社」</td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>