{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    {% load staticfiles %} 




<div id="bodyWapper">
<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td valign="top" height="73" align="left"><img src="{% static "_img/00_layout/door_top.jpg" %}" alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" valign="top" align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/02_future.php">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/01_current.php">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td class="doorMenuOver" height="20" align="center"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/03_alumni.php">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td valign="top" align="left"><a href="#TOP"><img src="{% static "_img/00_layout/door_btm.jpg" %}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img/00_layout/flashad02.jpg" %}" alt="輔仁大學統計資訊學系-本系簡介" width="960" height="145"><!-- InstanceEndEditable --></div>





<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><span class=""><img src="{% static "_img/02_about/title_about.jpg" %}" alt="輔仁大學統計資訊學系-本系簡介" width="170" height="45"></span>
    <div class="leftmenu01">
      <ul>
	   <li><a href="/about_01">沿革</a></li>
	   <li><a href="/about_02">教學理念</a></li>
	   <li><a href="/about_03"><span class="leftmenu02">設備</span></a></li>
	   <li><a href="/about_04">特色</a></li>
           <li><a href="/about_05">未來發展</a></li>
	   <li><a href="/about_06">章程辦法</a></li>
	   <li><a href="/about_07">交通資訊</a></li>
           <li><a href="/about_08">教師學術研究</a></li>
        </ul>
    </div>
    <!-- quicklink start-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="http://www.stat.fju.edu.tw/_chinese/06_student/05_album.php" target="_self"><img src="{% static "_img/menu01294041777.jpg" %}" alt="活動相簿" width="170"></a></div>
			            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="http://www.stat.fju.edu.tw/_chinese/05_join/01_overview.php" target="_self"><img src="{% static "_img/menu01294047528.jpg" %}" alt="招生資訊" width="170"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">設備</div>
    <div id="steerage"><a href="http://www.stat.fju.edu.tw/index.php">首頁</a><img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7">本系簡介<img src="{% static "_img/00_layout/arrow01.gif" %}" width="18" height="7"> 設備</div>
  </div>
  <!-- body layout start-->
  <div class="edit"><table style="margin-bottom: 20px" width="680" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td><img alt="" src="{% static "_img/02_about/about_edit_202_top.jpg" %}" width="680" height="30"></td>
        </tr>
        <tr>
            <td class="edit_about3_layoutBg">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td valign="top" align="left"><img alt="輔大統計資訊學系擁有最優良的圖書設備及環境" src="{% static "_img/02_about/about_edit_301.jpg" %}" width="155" height="35"><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
本校於民國50年在台復校後，陸續設有人文科學圖書館、社會科學圖書館、自然科學暨外語民生圖書館、醫學圖書室。民國91年8月正式整合為輔仁大學圖書
館，下設採訪編目組、閱覽典藏組、期刊媒體組、參考資訊組等四組，目前有濟時樓圖書總館、公博樓圖書分館、國璽樓圖書分館及舒德樓罕用書庫。其內均蒐集有
中外重要統計資訊書籍及期刊，每年不斷充實中，且採開架式管理，並提供光碟檢索系統及資料庫，借閱方便。
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
本系學生最常使用濟時樓圖書館，館舍總面積約3500坪，閱覽席位813席、網路節點600多個、檢索查詢之電腦設備120組、研究小間28間、團體討論
室7間。為一新穎、舒適、開放、安全系統管理的圖書館。各樓層規劃：二樓為圖書館入口、借閱櫃台、參考服務區、資訊檢索區、指定參考書區、新書展示區、學
習共享空間、寫作中心及閱報區；三樓為現期期刊區、學位論文區及參考書區；四樓為期刊室（含合訂本報紙）；五至七樓為中西文書庫；八樓為辦公室。每一層樓
皆設有檢索用電腦及複印機。現有圖書（截至99年9月底止）：中文圖書約548,357本，外文圖書約383,010本，紙本現刊共計3,933種、期刊
合訂本共計143,649冊，可使用之電子書約1130,330種、電子期刊約26,224種、線上資料庫約705種，以及視聽資料約16,116件。</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td><img alt="輔大統計資訊學系擁有最優良的圖書設備及環境" src="{% static "_img/02_about/about_edit_302.jpg" %}" width="680" height="275"></td>
        </tr>
    </tbody>
</table>
<table width="680" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td><img alt="" src="{% static "_img/02_about/about_edit_202_top.jpg" %}" width="680" height="30"></td>
        </tr>
        <tr>
            <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="edit_about3_layoutBg" valign="top" align="left">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td><img alt="輔大統計資訊學系擁有最先進的語文教學設備" src="{% static "_img/02_about/about_edit_303.jpg" %}" width="190" height="35"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
本校「外語教學資源中心」設有語言教室與視聽教室，設備皆採用最先進之語言器材。語言教室每間可容納學生人數72人。學生可使用設備為耳機麥克風、四倍速
錄放音座、十吋彩色監視器，皆為一人一機。教師可使用之主要設備為微電腦主控台、錄放影機、影碟播放機、器材提示機、多媒體電腦、51吋投影電視及投影
機。另有大、小會話教室及視聽教室，各備有錄放影機、影碟播放機、教材提示機、大投影電視及無線麥克風。透過該等設備的協助，本系學生得以在極佳的環境下
學習語文。</td>
                                </tr>
                                <tr>
                                    <td><img alt="輔大統計資訊學系擁有最先進的語文教學設備" src="{% static "_img/02_about/about_edit_304.jpg" %}" width="635" height="170"></td>
                                </tr>
                                <tr>
                                    <td><img alt="輔大統計資訊學系優良的資訊硬體設備" src="{% static "_img/02_about/about_edit_305.jpg" %}" width="190" height="35"></td>
                                </tr>
                                <tr>
                                    <td>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 資訊中心教室電腦總數 782 台、掃描器 11 台、黑白印表機 6 台、彩色印表機 7 
台等，教室內皆備有教學廣播系統、單槍投影機，網路速度皆達100MB。並設有視聽教室二十七間，每間配有二十九吋電視二部，其他尚有教學廣播系統、雷射
印表機、噴墨印表機、點陣印表機、掃描器、繪圖機、單槍投影機、光碟機、放影機、幻燈機、強光投影機、擴音機、手提錄放音機等相關週邊設
備。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td><img alt="" src="{% static "_img/02_about/about_edit_202_btm.jpg" %}" width="680" height="30"></td>
        </tr>
    </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td><img alt="" src="{% static "_img/02_about/about_edit_202_top.jpg" %}" width="680" height="30"></td>
        </tr>
        <tr>
            <td class="edit_about3_layoutBg">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td><img alt="輔大統計資訊學系-提供研究專屬環境" src="{% static "_img/02_about/about_edit_308.jpg" %}" width="190" height="35"></td>
                    </tr>
                    <tr>
                        <td>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
軟體方面備有各種程式語言編纂系統，電腦資料庫管理系統，中、英文文書處理及常見的統計套裝軟體等。統計套裝軟體軟體方面有SPSS、SPSS 
Clementine、SAS、SAS Enterprise 
miner、Statistica等統計軟體，並架設全球資訊網路及統計資料庫供各界使用。本系並設有電腦輔助電話調查系統(CATI, 
Computer Assisted Telephone Interview)，以進行實務調查計畫。</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img alt="" src="{% static "_img/02_about/about_edit_306.jpg" %}" width="635" height="190"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 本系專屬電腦76台，並有掃瞄器、伺服器、電腦、Intel 
Xeon高階伺服器、網路印表機、雷射印表機、噴墨印表機、平台式掃描器、單槍投影機、液晶投影機、以及筆記型電腦6部等。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
碩士班設有專屬教室ㄧ間、三間專屬電腦研討室分別提供同學上課與討論及之用；大學部統計諮詢顧問中心擁有一間電話訪問室、以及資料分析室 
，內設置有20線電話電腦調查訪問系統、以及13台桌上型電腦，以供學生「做中學」實習之用。</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td><img alt="" src="{% static "_img/02_about/about_edit_202_btm.jpg" %}" width="680" height="30"></td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p></div>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			   <div class="classForm_w">
				<table width="680" cellspacing="0" cellpadding="0" border="0">
				  <tbody><tr>
					<td class="wayDltit">相關辦法</td>
				  </tr>
				  <tr>
					<td valign="top" align="left">
										<table width="680" cellspacing="0" cellpadding="0" border="0">
						  <tbody><tr>
							<td class="wayDlSysle01 wayDlpadding" valign="top" align="left">統計資訊學系 統計諮詢顧問中心管理辦法</td>
						
							<td style="padding-left:90px" class="wayDlSysle01" width="160" align="left"><a href="http://www.stat.fju.edu.tw/_chinese/down.php?TB=dHdfYWJvdXRfZmlsZXM=&amp;Row=MTU=&amp;Data=eHBpYw=="><img src="{% static "_img/00_layout/icon_download.jpg" %}" width="40" height="16" border="0"></a></td>
						  </tr>
					  </tbody></table>
												<table width="680" cellspacing="0" cellpadding="0" border="0">
						  <tbody><tr>
							<td class="wayDlSysle02 wayDlpadding" valign="top" align="left">統計資訊學系應用統計碩士班 市場研究中心管理辦法</td>
						
							<td style="padding-left:90px" class="wayDlSysle02" width="160" align="left"><a href="http://www.stat.fju.edu.tw/_chinese/down.php?TB=dHdfYWJvdXRfZmlsZXM=&amp;Row=MTY=&amp;Data=eHBpYw=="><img src="{% static "_img/00_layout/icon_download.jpg" %}" width="40" height="16" border="0"></a></td>
						  </tr>
					  </tbody></table>
												<table width="680" cellspacing="0" cellpadding="0" border="0">
						  <tbody><tr>
							<td class="wayDlSysle01 wayDlpadding" valign="top" align="left">統計資訊學系 教學設備器材借用管理辦法</td>
						
							<td style="padding-left:90px" class="wayDlSysle01" width="160" align="left"><a href="http://www.stat.fju.edu.tw/_chinese/down.php?TB=dHdfYWJvdXRfZmlsZXM=&amp;Row=MTQ=&amp;Data=eHBpYw=="><img src="{% static "_img/00_layout/icon_download.jpg" %}" width="40" height="16" border="0"></a></td>
						  </tr>
					  </tbody></table>
												<table width="680" cellspacing="0" cellpadding="0" border="0">
						  <tbody><tr>
							<td class="wayDlSysle02 wayDlpadding" valign="top" align="left">碩士班研究生電腦室管理辦法</td>
						
							<td style="padding-left:90px" class="wayDlSysle02" width="160" align="left"><a href="http://www.stat.fju.edu.tw/_chinese/down.php?TB=dHdfYWJvdXRfZmlsZXM=&amp;Row=Mzk=&amp;Data=eHBpYw=="><img src="{% static "_img/00_layout/icon_download.jpg" %}" width="40" height="16" border="0"></a></td>
						  </tr>
					  </tbody></table>
										    </td>
				  </tr>
				</tbody></table>
			  </div>
				</div>
<!-- InstanceEndEditable --></div>
</div>

<!---------------------------------------------------------以下直接照打，不用改------------------------------------------------------>

{% endblock %}

</body><!-- InstanceEnd -->
</html>
