{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    {% load staticfiles %}

<div id="bodyWapper">
<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="73" align="left" valign="top"><img src="{% static "_img/00_layout/door_top.jpg" %}" alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td height="20" align="center" class="doorMenuOver"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/02_future.php">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/01_current.php">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img/00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="http://www.stat.fju.edu.tw/_chinese/10_door/03_alumni.php">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td align="left" valign="top"><a href="http://www.stat.fju.edu.tw/_chinese/07_research/01_research.php?RID=3#TOP"><img src="{% static "_img/00_layout/door_btm.jpg" %}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img/00_layout/flashad07.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="960" height="145"><!-- InstanceEndEditable --></div>



 

<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><img src="{% static "_img/07_research/title_research.jpg" %}" alt="輔仁大學統計資訊學系-研究中心" width="170" height="45">
    <div class="leftmenu01">
      <ul>
             <li><a href="/research_01">統計諮詢顧問中心 </a></li>
                         <li><a href="/research_02">市場研究中心 </a></li>
                         <li><a href="/research_03"><span class="leftmenu02">巨量資料分析中心</span></a></li>
                         <li><a href="/research_04">歷年案例</a></li>
                  </ul>
    </div>
    <!-- quicklink start-->

            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="http://www.stat.fju.edu.tw/_chinese/06_student/05_album.php" target="_self"><img src="{% static "_img/menu01294041777.jpg" %}" width="170" alt="活動相簿"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">歷年案例</div>
    <div id="steerage"><a href="http://www.stat.fju.edu.tw/index.php">首頁</a><img src="{% static "_img/04_research_files/arrow01.gif" %}" width="18" height="7"><a href="http://www.stat.fju.edu.tw/_chinese/07_research/01_research.php">研究中心</a><img src="{% static "_img/04_research_files/arrow01.gif" %}" width="18" height="7"> 歷年案例</div>
  </div>
  <!-- body layout start-->
  <div class="edit"><p>
</p><table cellspacing="0" cellpadding="0" width="762" border="0" style="width: 571pt; border-collapse: collapse">
    <colgroup><col width="43" style="width: 32pt"><col width="468" style="width: 351pt"><col width="251" style="width: 188pt"></colgroup>
    <tbody>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext 0.5pt solid; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td width="468" style="border-top: windowtext 0.5pt solid; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td width="251" style="border-top: windowtext 0.5pt solid; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; text-align: left; border-left: windowtext 0.5pt solid; background-color: transparent">103</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2014年精神健康指數調查</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人精神健康基金會</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">103</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">台灣地區家庭能源消耗調查工作計畫書</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人工業技術研究院</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">103</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">金字塔底層的微型保險--需求面與供給面的探究</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">國立臺灣師範大學</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">103</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent"><span style="font-size: larger">2015年我國大學學術聲譽排名研究</span></td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">淡江大學</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">102</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">現行號碼可攜服務升級至異質網路可攜之擴大</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人台灣經濟研究院</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">102</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent"><span style="font-size: larger">2014年我國大學學術聲譽排名研究</span></td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">淡江大學</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">102</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">102年3G幸福感指數調查計畫</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">先擎公關顧問股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">102</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">攜帶式電子健康產品需求調查</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人工業研究院</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">102</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">SYM三陽機車神秘客案(第一期)</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">SYM三陽機車股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">102</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">SYM三陽機車神秘客案(第二期)</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">SYM三陽機車股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">101</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">寬頻上網速率評量計畫案</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人電信技術中心</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">101</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財管客群投資行為分群計劃</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">台新國際商業銀行股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">101</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">SYM三陽機車神秘客案</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">三陽工業股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">101</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2012年精神健康指數調查</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人精神健康基金會</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">101</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">輔仁析數產業智慧與資料決策實驗室</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">台灣析數資訊股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">101</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">行動上網幸福感指數調查計畫</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">先擎公關顧問股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">100</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">人身保險資料庫行銷模型建立與分析</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">國寶人壽保險股份有限公司&nbsp;</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">100</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">電信編碼計畫整體規劃』（3/3）</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人電信技術中心</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">99</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2010年全國精神健康指數調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">&nbsp;財團法人精神健康基金會&nbsp;</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">99</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">Cheers快樂工作人品牌定位</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">&nbsp;天下雜誌股份有限公司&nbsp;</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">99</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">SYM三陽機車神秘客</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">&nbsp;三陽工業股份有限公司&nbsp;</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">99</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">特用鞋墊之功效研究案</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">&nbsp;歐立達股份有限公司&nbsp;</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">99</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">Miiixer 使用創意實踐平台</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">&nbsp;鑫聯資訊股份有限公司&nbsp;</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">99</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">人身保險資料庫行銷模型建立與分析</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">&nbsp;國寶人壽保險股份有限公司&nbsp;</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">98</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">輔仁大學96學年度畢業生追蹤調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">輔仁大學學務處就業輔導組</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">98</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">電信編碼調查計畫</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人電信技術中心</td>
        </tr>
        <tr height="22" style="height: 16.8pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.8pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">98</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">九十八年度台灣網際網路使用調查(性別分析)</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">國家通訊委員會</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">98</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2009年全國精神健康指數調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人精神健康基金會</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">98</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2010我國大學學術聲譽排名研究</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">淡江大學</td>
        </tr>
        <tr height="22" style="height: 16.8pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.8pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">98</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">我國大學選校互動系統之建構與維護</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人高等教育評鑑中心</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">規劃輔仁大學「學習中心~計量課程輔導」</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">教學卓越-輔仁大學學務處</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">輔仁大學畢業生狀況暨在校生滿意度之調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">輔仁大學學務處就業輔導組</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">九十八年度台灣地區寬頻網路使用調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">國家通訊委員會</td>
        </tr>
        <tr height="22" style="height: 16.8pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.8pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2008年全國精神健康指數調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人精神健康基金會</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">公務人員考績法研修方向意見調查案</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">銓敘部</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">各類環境清潔車輛油耗量及效率評估調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">北市政府環境保護局</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">消費者對寬頻、行動應用科技化服務需求調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人資訊工業策進會</td>
        </tr>
        <tr height="22" style="height: 16.8pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.8pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">桃園市公所九十七年度政風實況問卷調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">桃園市公所</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">管理學院學生特質與教學成果之研究--自我了解與生涯期待調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">輔仁大學</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2009年我國大學學術聲譽排名研究</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">淡江大學</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">97</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">我國大學選校互動系統之建構</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人高等教育評鑑中心</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">96</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">九十七年度台灣地區寬頻網路使用調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人台灣網路中心</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">96</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2008年我國大學學術聲譽排名研究</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">淡江大學</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext 0.5pt solid; background-color: #d9d9d9">年度</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">調查計畫主題</td>
            <td style="border-top: windowtext; border-right: windowtext 0.5pt solid; border-bottom: windowtext 0.5pt solid; text-align: center; border-left: windowtext; background-color: #d9d9d9">委託單位</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2006年精神健康指數調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人精神健康基金會</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">BabyBoss中保寶貝城市場研究調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">中興保全股份有限公司</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">台灣醫療器材產業問卷回收與彙整</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人工業技術研究院</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">九十六年度台灣寬頻網路使用調查</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">財團法人台灣網路中心</td>
        </tr>
        <tr height="22" style="height: 16.8pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.8pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">多元評量機制的建立</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">教育部</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">課程整合與創新計畫</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">教育部</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">輔仁大學管理學院學生側寫</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">教育部</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">2007年我國大學學術聲譽排名研究</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">淡江大學</td>
        </tr>
        <tr height="22" style="height: 16.2pt">
            <td height="22" width="43" style="border-top: windowtext; height: 16.2pt; border-right: windowtext 0.5pt solid; width: 32pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext 0.5pt solid; background-color: transparent">95</td>
            <td width="468" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 351pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">台新國際商業銀行股份有限公司暨私立輔仁大學講座贊助</td>
            <td width="251" style="border-top: windowtext; border-right: windowtext 0.5pt solid; width: 188pt; border-bottom: windowtext 0.5pt solid; border-left: windowtext; background-color: transparent">台新國際商業銀行股份有限公司</td>
        </tr>
    </tbody>
</table>
<p></p></div>
</div>
<!-- InstanceEndEditable --></div>
</div>
{% endblock %}

</body><!-- InstanceEnd -->
</html>

<!-- InstanceEnd --></body></html>