{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<body>
    {% block content %}
    {% load staticfiles %}  
                                              
<!---------------------------------------------------------以上直接照打，不用改------------------------------------------------------>

<!-------------------------此整個中間的部份為    id="bodyWapper"         你們需要修改這裡！！！-------------------------------------->

                                    <!------    1.路徑連結(網頁.圖片)    2.整理(縮排)       ----->
<div id="bodyWapper">

<div id="layoutImg"><div id="Layer1" style="position: relative; width: 0px; height: 0px; z-index: 10; visibility: visible; float: right; left: 80px; top: 0px;"><!-- #BeginLibraryItem "/Library/rightdoor.lbi" -->
 <div id="PageRightmenu" style="position:absolute; width:75px; height:220px; z-index:3;right:0px ;visibility: visible; top:145px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="73" align="left" valign="top"><img src="{% static "_img\00_layout/door_top.jpg"%}" alt="" width="75" height="73"></td>
        </tr>
        <tr>
          <td class="doorMenuBg" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td height="20" align="center" class="doorMenuOver"><a href="/student_04">未來學生</a></td>
            </tr>
            <tr>
              <td height="11" align="center"><img src="{% static "_img\00_layout/door_line.jpg"%}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="/student_04">現有學生</a></td>
            </tr>
            <tr>
              <td align="center"><img src="{% static "_img\00_layout/door_line.jpg" %}" alt="" width="75" height="11"></td>
            </tr>
            <tr>
              <td height="20" align="center" class="doorMenuOver"><a href="/student_04">系所友</a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td align="left" valign="top"><a href="/student_04"><img src="{% static "_img\00_layout/door_btm.jpg"%}" width="75" height="38"></a></td>
        </tr>
      </tbody></table>
    </div><!-- #EndLibraryItem --></div><!-- InstanceBeginEditable name="EditRegion5" --><img src="{% static "_img\00_layout/flashad06.jpg"%}" alt="輔仁大學統計資訊學系-學生園地" width="960" height="145"><!-- InstanceEndEditable --></div>



 

<!-- body main wapper  start-->
<div id="body_w0"><!-- InstanceBeginEditable name="EditRegion3" -->
  <div id="body_w1"><span class=""><img src="{% static "_img\06_student\title_student.jpg"%}" alt="輔仁大學統計資訊學系-學生園地" width="170" height="45"></span>
    <div class="leftmenu01">
      <ul>
         <li><a href="/student_01"><span class="leftmenu02">系學會</span></a></li>
               <li><a href="/student_02">市場調查小組</a></li>
               <li><a href="/student_03">系友會</a></li>
               <li><a href="/student_04">所歌</a></li>
               <li><a href="/student_05">徵才專區</a></li>
              <li><a href="/student_06">系所友相關訊息</a></li>
    <li><a href="/student_07">活動相簿</a></li>
      </ul>
    </div>
    <!-- quicklink start-->

            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="/student_04" target="_self"><img src="{% static "_img/menu01294041777.jpg"%}" width="170" alt="活動相簿"></a></div>
			            <div class="quicklinkMarg"></div>
			<div class="menuQuick"><a href="/student_04" target="_self"><img src="{% static "/_img/menu01294047585.jpg"%}" width="170" alt="獎學金資訊"></a></div>
			  </div>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion4" -->
<div id="body_w2">
  <!-- title start-->
  <div id="bodytop_w0">
    <div id="bodyTitle">所歌</div>
    <div id="steerage"><a href="/student_04">首頁</a><img src="{% static "_img\00_layout/arrow01.gif"%}" width="18" height="7"><a href="/student_04">學生園地</a><img src="{%static "_img\00_layout/arrow01.gif"%}" width="18" height="7"> 所歌</div>
  </div>
  <!-- body layout start-->
  <div class="edit"><p><span class="Apple-style-span" style="widows: 2; text-transform: none; background-color: rgb(255,255,255); text-indent: 0px; font: 16px &#39;Times New Roman&#39;, Times, serif, 新細明體; white-space: normal; orphans: 2; letter-spacing: normal; color: rgb(68,68,68); word-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px">
</span></p><p align="center"><b>應統之愛</b></p>
<p align="center">揚起年輕的風帆　看見全新的未來<br>
這個溫馨的所在　沒有人會感到孤單<br>
推開煩惱灰暗　 師生和樂相待<span class="Apple-converted-space">&nbsp;</span><br>
快樂希望就此開</p>
<p align="center">應統所 做中學　團隊學習群策勵<span class="Apple-converted-space">&nbsp;</span><br>
練眼光 增能力　專業人才應統出<span class="Apple-converted-space">&nbsp;</span><br>
放開你的胸懷　因為夢想一直在<span class="Apple-converted-space">&nbsp;</span><br>
地球依然旋轉</p>
<p align="center">能力強 資訊足　解決問題我在行<span class="Apple-converted-space">&nbsp;</span><br>
增智慧 求創新　永續經營唯應統<span class="Apple-converted-space">&nbsp;</span><br>
放開你的胸懷　因為夢想一直在<span class="Apple-converted-space">&nbsp;</span><br>
應統之愛永常在<span class="Apple-converted-space">&nbsp;</span><br>
應統之愛永常在</p>/student_04">※所歌下載</a></p>
<p align="center">&nbsp;</p>
<p></p></div>
</div>
<!-- InstanceEndEditable --></div>
</div>
<!---------------------------------------------------------以下直接照打，不用改------------------------------------------------------>

{% endblock %}

</body><!-- InstanceEnd -->
</html>